<section>

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p>We look like a pro shopping site, but don't take it serious, it's not true!</p>

  <div>
    @2019, Copyleft&copy;bootcamp
  </div>

</section>